<div ng-app="CadFuncApp">
    <div class="main container" ng-view></div>
</div>

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular/app.js"></script>
    <script src="~/Scripts/angular/controllers.js"></script>
}
